<?php
// mongorestore -h localhost -u evolutto_prod -p "" --db evolutto_prod --dir ./templum_plataforma --drop

$migrations = [
    [
        'origin' => [
            'host' => 'yourhost.com',
            'username' => 'pedro',
            'password' => 'password',
            'port' => '27017',
            'database' => 'database',
            'exclude-collection' => 'system.users'
        ],
        'destination' => [
            'host' => 'dest-host.com',
            'username' => 'username',
            'password' => 'password',
            'database' => 'dest-mydatabase',
        ]
    ],
];
